
/* 

darkblue: #abf
normalblue: #cdf
lightblue: #eff

 */

body
{
  background-color: #fff;
  color: #000;
  font-size: 12pt;
  line-height: 140%;
}

h1
{
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #fff;
  color: #000000;
  border-style: solid;
  border-width: 5px 0px 5px 0px;
  border-color: #abf;
  padding: 20px 0px 20px 0px;
  font-size: 16pt;
  text-align: center;
  margin: 15pt 5% 20pt 5%;
}

h2 
{
  color: #000;
  border-color: #000 #000 #abf #cdf;
  font-size: 16pt;
  border-style: solid;
  border-width: 0px 0px 5px 10px;
  padding: 10px 0px 3px 0px;
  margin: 20px 0px 3px 10px;
}

h3 
{
  border-style: solid;
  border-width: 5px 10px 0px 0px;
  border-color: #abf #cdf #000 #000;
  padding: 0px 0px 0px 0px;
  margin: 20px 0px 20px 30px;
  color: #000000;
  font-size: 16pt;
}

a:link {
  color: #33a;
}

a:active {
  color: #333;
}

/* hover is a CSS2 feature */
a:hover {
  color: #ffa;
  background-color: #55f;
}

a:visited {
  color: #33a;
}

pre {
    color: #000;
    background-color: #fff;
    border-style: ridge;
}

tt {
   color: #000;
   background-color: #fff;
    border: ridge;
}

/*
div.toplinks
{
  width: 20%;
  float: right;
  border-style: solid;
  border-color: #abf #cdf #abf #cdf;
  border-width: 5px 10px 0px 0px;
  padding: 15px 0px 15px 15px;
  background-color: #fff;
  margin: 20pt 3% 8pt 10pt;
}
*/

div.bodydiv 
{
  width: 96%;
  float: left;
  margin: 0pt 0pt 0pt 1%;
  background-color: #fff;
}

dl {
   margin: 2em;
}

dt {
   background-color: #ffa;
   color: #119;
}
dd {
   
}

ul {
   background-color: #ffffee;
}

li {

}

p{
	color: #000;
	margin: 10pt 0pt 6pt 20pt;
}

table{
	border-style: outset;
	margin: 3pt 0pt 3pt 30pt;
}


thead{
	background-color: #fff;
}

th{
	border-style: inset;
	color: #000;
	background-color: #fff;
}

td{
	border-style: inset;
	color: #000;
}

